[user]
	name = Niels Henrik Hagen
	email = nhhagen@gmail.com
[color]
	ui = auto
	ui = true
[core]
	autocrlf = input
	editor = vim
[push]
	default = simple
[log]
	date = relative
[alias]
	lg = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset %C(magenta)%d%Creset %s %C(blue)(%an)%Creset %C(green)%cr%Creset'
	d = difftool
[github]
	user = nhhagen
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
