<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>DisplayProductName</key>
  <string>ROG PG279Q</string>
  <key>DisplayProductID</key>
  <integer>10220</integer>
  <key>DisplayVendorID</key>
  <integer>1129</integer>
  <key>scale-resolutions</key>
  <array>
    <data>AAAUAAAAC0AAAAABACAAAA==</data>
    <data>AAAUAAAAC0A=</data>
    <data>AAAKAAAABaAAAAABACAAAA==</data>
    <data>AAAKAAAABaA=</data>
  </array>
</dict>
</plist>